<mat-card appearance="outlined">
    <div class="h-100 d-flex flex-column justify-content-between">
        <div>
            <mat-card-header>
                <mat-card-title>{{ tour.name }}</mat-card-title>
                <mat-card-subtitle>{{ tour.tourOperator }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/img/{{ tour.img }}" />
            <mat-card-content class="pb-0">
                <p>
                    {{ tour.description }}
                </p>
            </mat-card-content>
        </div>
        <div
            class="tour-country"
            (click)="handleShowModal($event, tour, tour.country?.iso_code2)"
        >
            Страна: {{ tour.country?.name_ru }}
            <img [src]="tour.country?.flag_url" />
        </div>
    </div>
    <mat-card-actions class="d-flex justify-content-between">
        <a mat-button (click)="goToTour()">Подробнее</a>
        <button mat-mini-fab (click)="handleCart()">
            <mat-icon
                [fontIcon]="isInCart ? 'remove_shopping_cart' : 'add_shopping_cart'"
                [ngClass]="isInCart ? 'cart-remove' : 'cart-add'"
            ></mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
