.card-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.card-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.tour-image {
    width: 100%;
    height: 150px;
    overflow: hidden;
    margin-block: 8px;
    & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
