<div [hidden]="!submitted">Вы вошли под пользователем {{ login?.value }}</div>
<form
    (ngSubmit)="onSubmit()"
    [formGroup]="authorizationForm"
    [hidden]="submitted"
>
    <div class="d-flex flex-column mt-3">
        <div>
            <input
                placeholder="Логин"
                type="text"
                formControlName="login"
                class="form-input"
                [ngClass]="{ 'input-error': login?.invalid }"
            />
        </div>
        <div class="mt-3">
            <input
                placeholder="Пароль"
                type="password"
                formControlName="password"
                class="form-input"
                [ngClass]="{
                    'input-error': password?.invalid,
                }"
            />
        </div>
    </div>
    <div class="mt-3 d-flex justify-content-center">
        <button
            mat-flat-button
            type="submit"
            [disabled]="authorizationForm.invalid"
        >
            Войти
        </button>
    </div>
</form>
