@use "variables";
@use '@angular/material' as mat; 

:host {
  @include mat.badge-overrides((
    background-color: rgb(209, 163, 171),
  ));
}

:host {
    height: 60px;
    width: 100%;
    display: block;
}


.layout-header {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    background: var(--header-background);
    color: #fff;
    height: 100%;
    padding: 4px 6px;
}