<div class="layout-header d-flex justify-between align-items-center px-4">
        <app-menu [items]="menuItems" />
    <div class="d-flex gap-4 align-items-center">
        <div>{{ date | date: "HH:mm EEEE" }}</div>
        @if (userName) {
        <div class="d-flex gap-2 align-items-center"> 
            <div>{{ userName }}</div>
                <button mat-mini-fab (click)="handleLogout()">
                    <mat-icon>logout</mat-icon>
                </button>
            </div>
        } 
    </div>
</div>
