<div class="search-wrapper position-fixed z-3">
    <mat-form-field class="w-100">
        <input #inputSearch matInput placeholder="Поиск..." />
    </mat-form-field>
</div>
<div
    class="tours-wrapper"
    appHighlightActive
    #highlightActiveDirective
    selector="app-tour-card"
    [initFirst]="true"
    (onEnter)="onEnter($event)"
    *ngIf="allTours?.length"
>
    @if (!renderedTours.length) {
        <p>Туры не найдены</p>
    }
    @for (tour of renderedTours; track tour.id) {
        <app-tour-card [tour]="tour" [handleShowModal]="handleShowModal" />
    }
</div>
<nz-modal
    [nzTitle]="mapCountryName"
    nzCentered
    nzDraggable
    (nzOnCancel)="showModal = false"
    (nzOnOk)="showModal = false"
    [(nzVisible)]="showModal"
>

</nz-modal>
