.tours-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-top: 50px;

    & app-tour-card {
        box-sizing: content-box;
    }
}

.search-wrapper {
    width: 400px;
    top: 65px;
}

@media (max-width: 1399.98px) {
    .tours-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1199.98px) {
    .tours-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 991.92px) {
    .tours-wrapper {
        grid-template-columns: 1fr;
    }
}
