<div class="search-wrapper position-fixed z-3">
    <mat-form-field class="w-100">
        <input matInput placeholder="Поиск..." (input)="searchTours($event)"/>
    </mat-form-field>
</div>
<div
    class="tours-wrapper"
    appHighlightActive
    #highlightActiveDirective
    selector="app-tour-card"
    [initFirst]="true"
    (onEnter)="onEnter($event)"
    *ngIf="allTours?.length"
>
    @if(!renderedTours.length) {
        <p>Туры не найдены</p>
    }
    @for (tour of renderedTours; track tour.id) {
        <app-tour-card [tour]="tour" />
    }
</div>
