:host {
    display: flex;
}

.tour__content {
    flex-basis: 50%;
    line-height: 1.5;
    & .tour__operator {
        font-size: 1.25rem;
    }
}

.tour__image {
    flex-basis: 50%;
    & img {
        width: 100%;
    }
}