@if (formStatus === "success") {
    <div>Спасибо за регистрацию, {{ login }}!</div>
}
<form
    (ngSubmit)="onSubmit()"
    [ngClass]="
        formStatus === 'submitting' || formStatus === 'success'
            ? 'opacity-0'
            : ''
    "
>
    <div class="d-flex flex-column mt-3">
        <div>
            <input
                name="login"
                placeholder="Логин"
                class="form-input"
                [ngClass]="{ 'input-error': login.length < 3 }"
                [(ngModel)]="login"
            />
        </div>
        <div class="mt-3">
            <input
                name="email"
                placeholder="Почта"
                type="email"
                [(ngModel)]="email"
                class="form-input"
            />
        </div>
        <div class="mt-3">
            <input
                name="password"
                placeholder="Пароль"
                type="password"
                class="form-input"
                [ngClass]="{ 'input-error': password.length < 6 }"
                [(ngModel)]="password"
            />
        </div>
        <div class="mt-3">
            <input
                name="passwordRepeat"
                placeholder="Повтор пароля"
                type="password"
                class="form-input"
                [ngClass]="{ 'input-error': passwordRepeat !== password }"
                [(ngModel)]="passwordRepeat"
            />
        </div>
    </div>
    <div class="mt-3 d-flex justify-content-center">
        <button
            mat-flat-button
            type="submit"
            [disabled]="
                login.length < 3 ||
                password.length < 6 ||
                password !== passwordRepeat
            "
        >
            Зарегистрироваться
        </button>
    </div>
</form>
<app-loader [loaderStatus]="loaderService.loader$ | async" />
