@if (tour) {
    @if (!submitted) {
        <div class="tour__info">
            <p>Вы выбрали тур {{ tour.name }}</p>
            @if (tour.date) {
                <p>Дата: {{ tour.date | date: "dd MMMM YYYY" }}</p>
            }
            <p>Цена: {{ tour.price }}</p>
        </div>
        <form
            [formGroup]="clientInfoForm"
            class="d-flex flex-column w-50"
            (submit)="handleSubmit()"
        >
            <h3>Информация о покупателе</h3>
            <mat-form-field>
                <mat-label for="name">Имя</mat-label>
                <input matInput formControlName="name" type="text" id="name" />
                @if (clientInfoForm.get("name").hasError("required")) {
                    <mat-error>Имя <strong>обязательно</strong></mat-error>
                }
            </mat-form-field>
            <mat-form-field>
                <mat-label for="email">Электронная почта</mat-label>
                <input
                    matInput
                    formControlName="email"
                    type="email"
                    id="email"
                />
                @if (clientInfoForm.get("email").hasError("required")) {
                    <mat-error>Почта <strong>обязательнa</strong></mat-error>
                }
            </mat-form-field>
            <mat-form-field>
                <mat-label for="cardNumber">Номер карты</mat-label>
                <input
                    matInput
                    formControlName="cardNumber"
                    type="text"
                    id="cardNumber"
                />
                @if (clientInfoForm.get("cardNumber").hasError("required")) {
                    <mat-error>Номер карты <strong>обязателен</strong></mat-error>
                }
            </mat-form-field>
            <button
                mat-flat-button
                type="submit"
                [disabled]="!clientInfoForm.valid"
            >
                Забронировать
            </button>
        </form>
    } @else {
        <p>
            Спасибо, что воспользовались нашим сервисом для поиска дешевых
            туров!<br />Мы с вами обязательно свяжемся!
        </p>
    }
}
